body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 237, 224);
}

header {
	background-color: white;
	width: 1440px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu {
	display: flex;
	padding: 0;
}

.menu li {
	list-style-type: none;
	margin-bottom: -12px;
}

.menu a {
    display:block;
    min-width: 120px; 
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center; 
    background-color: #1ABC9C;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.menu a:hover {
  background-color: #ed2794;
  color: #fff;
}

#logo a {
	background-color: white;
	margin-top: -3px;
}

#sec1 {
	display: flex;
	margin-top: 20px;
}

#sec1 img {
	width: 450px;
}

#sec1 p {
	font-family: arial;
	text-align: center;
	width: 950px;
	margin-top: 95px;
	margin-left: 40px;
}